/* ===============PAGE SELECTOR======================== */

.container__page {
    height: 5rem;
    padding: 1rem 0 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-selects {
    display: block;
    justify-content: center;
}

#current-page {
    font-size: 2rem;
    font-weight: 700;
    padding: 0 1rem 0 1rem;
    color: rgb(177, 177, 177);
}

#next-page,
#previous-page {
    font-size: 2rem;
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: rgb(177, 177, 177);
    outline: none;
}

#next-page:hover,
#previous-page:hover {
    color: rgb(241, 198, 7);
}