/* Custom properties */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(160, 160, 160);
  background-image: linear-gradient(to right bottom, rgba(0, 46, 172, 0.8), rgba(0, 0, 0, 0.8)), url(./movie1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}